# Import

In [36]:
# Import Libraries
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)  # Adjusts the configuration of the plots we will create

In [141]:
# Import Data

df = pd.read_csv("movies.csv")

In [38]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [144]:
df.shape

(7668, 15)

In [39]:
df.isna().value_counts()

name   rating  genre  year   released  score  votes  director  writer  star   country  budget  gross  company  runtime
False  False   False  False  False     False  False  False     False   False  False    False   False  False    False      5421
                                                                                       True    False  False    False      1991
                                                                                               True   False    False       110
                                                                                       False   True   False    False        52
       True    False  False  False     False  False  False     False   False  False    True    False  False    False        41
                                                                                               True   False    False        15
                                                                                       False   False  False    False        11
       False   False  False  False     False  False  False     False   False  False    True    False  True     False         7
                                                               True    False  False    True    False  False    False         3
       True    False  False  False     False  False  False     False   False  False    False   True   True     False         2
                                                                                                      False    False         2
       False   False  False  True      False  False  False     False   False  True     True    True   True     True          2
                             False     False  False  False     False   False  False    False   False  True     False         2
       True    False  False  False     True   True   False     False   False  False    False   True   True     False         2
       False   False  False  False     False  False  False     False   False  False    False   False  False    True          1
       True    False  False  False     False  False  False     False   False  False    False   True   False    True          1
       False   False  False  False     True   True   False     False   False  False    False   True   False    False         1
                                       False  False  False     False   False  False    True    True   True     False         1
       True    False  False  False     False  False  False     False   False  False    True    False  True     False         1
                                                                              True     False   False  False    False         1
                                                                       True   False    False   True   False    False         1
dtype: int64

In [40]:
df.count()  # Drop 2247 records due to dropping NA

name        7668
rating      7591
genre       7668
year        7668
released    7666
score       7665
votes       7665
director    7668
writer      7665
star        7667
country     7665
budget      5497
gross       7479
company     7651
runtime     7664
dtype: int64

In [41]:
# How many records have a null value
df.isna().any(axis=1).sum()

2247

# Data Cleaning

In [83]:
# Loop through columns to find any missing data

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())  # Loop through col and see if there are any nulls
    print('{} - {}%'.format(col, pct_missing))  # Formatting to add a % at the end of the column value

name - 0.0%
rating - 0.0%
genre - 0.0%
year - 0.0%
released - 0.0%
score - 0.0%
votes - 0.0%
director - 0.0%
writer - 0.0%
star - 0.0%
country - 0.0%
budget - 0.0%
gross - 0.0%
company - 0.0%
runtime - 0.0%

In [145]:
# Drop NA records
df.dropna(inplace=True)

In [50]:
# Review data types of our columns
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget        int64
gross         int64
company      object
runtime     float64
dtype: object

In [146]:
# Convert budget and gross from float to int
df["budget"] = df["budget"].astype("int64")
df["gross"] = df["gross"].astype("int64")

In [46]:
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7648,Bad Boys for Life,R,Action,2020,"January 17, 2020 (United States)",6.6,140000.0,Adil El Arbi,Peter Craig,Will Smith,United States,90000000,426505244,Columbia Pictures,124.0
7649,Sonic the Hedgehog,PG,Action,2020,"February 14, 2020 (United States)",6.5,102000.0,Jeff Fowler,Pat Casey,Ben Schwartz,United States,85000000,319715683,Paramount Pictures,99.0
7650,Dolittle,PG,Adventure,2020,"January 17, 2020 (United States)",5.6,53000.0,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States,175000000,245487753,Universal Pictures,101.0
7651,The Call of the Wild,PG,Adventure,2020,"February 21, 2020 (United States)",6.8,42000.0,Chris Sanders,Michael Green,Harrison Ford,Canada,135000000,111105497,20th Century Studios,100.0
7652,The Eight Hundred,Not Rated,Action,2020,"August 28, 2020 (United States)",6.8,3700.0,Hu Guan,Hu Guan,Zhi-zhong Huang,China,80000000,461421559,Beijing Diqi Yinxiang Entertainment,149.0

Data cleaning: take the 'year' value from the "released" column and put it into a new column

Thinking through this problem, I need to remove (United States) from the 'released' column before I can parse the year out

In [147]:
df[df["released"].str.match(".*(United States)*.") == True].value_counts(["released"], ascending=False)

released
October 11, 2002 (United States)     7
August 26, 2016 (United States)      7
December 16, 1983 (United States)    7
December 25, 2008 (United States)    7
January 25, 2002 (United States)     7
                                    ..
July 31, 1991 (United States)        1
July 30, 1997 (United States)        1
July 30, 1982 (United States)        1
July 3, 2019 (United States)         1
September 9, 2016 (United States)    1
Length: 2560, dtype: int64

In [118]:
# pd.set_option('display.max_rows', 500)
# pd.reset_option('all')

from dateutil import parser

# df["released"].astype(str).str[-20:-15].value_counts()
# df["released_year"] = parser.parse(str(df["released"][:len(df["released"])]))

In [79]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released       |S40
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget        int64
gross         int64
company      object
runtime     float64
dtype: object

In [139]:
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,None,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,None,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,None,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,None,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,None,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7648,Bad Boys for Life,R,Action,2020,None,6.6,140000.0,Adil El Arbi,Peter Craig,Will Smith,United States,90000000.0,426505244.0,Columbia Pictures,124.0
7649,Sonic the Hedgehog,PG,Action,2020,None,6.5,102000.0,Jeff Fowler,Pat Casey,Ben Schwartz,United States,85000000.0,319715683.0,Paramount Pictures,99.0
7650,Dolittle,PG,Adventure,2020,None,5.6,53000.0,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States,175000000.0,245487753.0,Universal Pictures,101.0
7651,The Call of the Wild,PG,Adventure,2020,None,6.8,42000.0,Chris Sanders,Michael Green,Harrison Ford,Canada,135000000.0,111105497.0,20th Century Studios,100.0
7652,The Eight Hundred,Not Rated,Action,2020,None,6.8,3700.0,Hu Guan,Hu Guan,Zhi-zhong Huang,China,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,149.0