# Import

In [6]:
# Import Libraries
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)  # Adjusts the configuration of the plots we will create

In [28]:
# Import Data

df = pd.read_csv("movies.csv")

In [16]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [29]:
df.isna().value_counts()

name   rating  genre  year   released  score  votes  director  writer  star   country  budget  gross  company  runtime
False  False   False  False  False     False  False  False     False   False  False    False   False  False    False      5421
                                                                                       True    False  False    False      1991
                                                                                               True   False    False       110
                                                                                       False   True   False    False        52
       True    False  False  False     False  False  False     False   False  False    True    False  False    False        41
                                                                                               True   False    False        15
                                                                                       False   False  False    False        11
       False   False  False  False     False  False  False     False   False  False    True    False  True     False         7
                                                               True    False  False    True    False  False    False         3
       True    False  False  False     False  False  False     False   False  False    False   True   True     False         2
                                                                                                      False    False         2
       False   False  False  True      False  False  False     False   False  True     True    True   True     True          2
                             False     False  False  False     False   False  False    False   False  True     False         2
       True    False  False  False     True   True   False     False   False  False    False   True   True     False         2
       False   False  False  False     False  False  False     False   False  False    False   False  False    True          1
       True    False  False  False     False  False  False     False   False  False    False   True   False    True          1
       False   False  False  False     True   True   False     False   False  False    False   True   False    False         1
                                       False  False  False     False   False  False    True    True   True     False         1
       True    False  False  False     False  False  False     False   False  False    True    False  True     False         1
                                                                              True     False   False  False    False         1
                                                                       True   False    False   True   False    False         1
dtype: int64

In [47]:
df.count()  # Drop 2247 records due to dropping NA

name        5421
rating      5421
genre       5421
year        5421
released    5421
score       5421
votes       5421
director    5421
writer      5421
star        5421
country     5421
budget      5421
gross       5421
company     5421
runtime     5421
dtype: int64

In [39]:
# How many records have a null value
df.isna().any(axis=1).sum()

2247

# Data Cleaning

In [42]:
# Loop through columns to find any missing data

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())  # Loop through col and see if there are any nulls
    print('{} - {}%'.format(col, pct_missing))  # Formatting to add a % at the end of the column value

name - 0.0%
rating - 0.0%
genre - 0.0%
year - 0.0%
released - 0.0%
score - 0.0%
votes - 0.0%
director - 0.0%
writer - 0.0%
star - 0.0%
country - 0.0%
budget - 0.0%
gross - 0.0%
company - 0.0%
runtime - 0.0%

In [41]:
# Drop NA records
df.dropna(inplace=True)

In [46]:
# Review data types of our columns
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget        int64
gross         int64
company      object
runtime     float64
dtype: object

In [45]:
# Convert budget and gross from float to int
df["budget"] = df["budget"].astype("int64")
df["gross"] = df["gross"].astype("int64")